@font-face {
    font-family: "Stapel";
    src: url("../fonts/Stapel-Medium.ttf") format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Stapel";
    src: url("../fonts/Stapel-Light.ttf") format('ttf');
    font-weight: 300;
    font-style: normal;
}

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

// fonts
$font-manrope: "Manrope", sans-serif;
$font-stapel: "Stapel", sans-serif;
// fonts

// colors
$color-main-blue: #003064;
$color-white: #FFFFFF;
$color-black: #222222;
$color-grey: #999999;
// colors

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-manrope;
    font-style: normal;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main {
    &_container {
        max-width: 1360px;
        margin: 0 auto;

        @include media(1365) {
            max-width: calc(100% - 30px);
        }
    }

    &_title {
        font-family: $font-stapel;
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        color: $color-black;

        @include media(993) {
            font-size: 25px;
            line-height: 35px;
        }
    }
}

.btn {
    &_white {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.05em;
        @include flex-full-center();
        gap: 20px;
        border-radius: 5px;
        background-color: $color-white;
        padding: 20px;
        color: $color-main-blue;
    }
    &_blue {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.05em;
        @include flex-full-center();
        gap: 20px;
        border-radius: 5px;
        background-color: $color-main-blue;
        color: $color-white;
        padding: 20px;
    }
}

// bootstrap
ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
address {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
// bootstrap

// header
.header {

    .main_container {
        @include flex-center();
        justify-content: space-between;
        gap: 10px;
    }

    &_top {
        padding: 25px 0;
    }

    &_bottom {
        background-color: $color-main-blue;

        ul {
            display: flex;
            align-items: stretch;
        }

        li {
            border-right: .5px solid $color-grey;

            &:last-child {
                border-right: none;
            }
        }

        a,
        button {
            text-align: center;
            @include flex-full-center();
            gap: 10px;
            font-size: 16px;
            font-weight: 700;
            line-height: 25.6px;
            color: $color-white;
            min-width: 135px;
            padding: 21px 25px;
        }
    }

    &_logo {
        padding-right: 16px;
        border-right: .2px solid $color-grey;
    }

    &_location {
        @include flex-center();
        gap: 30px;

        li {
            @include flex-center();
            gap: 10px;
            font-size: 16px;
            font-weight: 600;
            line-height: 25.6px;
            color: $color-black;
        }
    }

    &_contact {

        li {
            @include flex-center();
            gap: 8px;
        }

        a {
            @include flex-center();
            gap: 8px;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: $color-black;
        }

        span {
            font-size: 12px;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: 0.05em;
            color: $color-grey;
        }
    }
}
// header

// footer
.footer {
    background-color: $color-main-blue;

    &_top {
        border-bottom: 1px solid $color-white;
        padding: 100px 0 60px;

        @include media(991) {
            padding: 60px 0;
        }

        .main_container {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @include media(991) {
                gap: 20px;
            }

            @include media(991) {
                flex-direction: column;
            }
        }
    }

    h6 {
        width: 100%;
        @include flex-center();
        justify-content: space-between;
        font-family: $font-stapel;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        color: $color-white;

        svg {
            display: none;

            @include media(991) {
                display: flex;
            }
        }

        @include media(991) {
            font-size: 18px;
            line-height: 25.2px;
        }
    }

    &_link {
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease, opacity 0.3s ease;

        @include media(991) {
            overflow: hidden;
            height: 0;
            @include transition();
        }
    }

    &_link.active {
        @include media(991) {
            overflow: hidden;
            height:max-content;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 40px;
        @include transition();

        @include media(991) {
            padding: 20px 0;
        }

        a,
        address {
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            color: $color-white;

            @include media(991) {
                font-size: 14px;
                line-height: 22.4px;
            }
        }
    }

    &_block_title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        svg {
            transition: transform 0.3s ease;
        }
    }

    .contact_in {
        padding: 20px 0 0 0;
    }

    &_block_one {
        @include media(991) {
            order: 1;
        }
    }

    &_block_two {
        @include media(991) {
            order: 2;
        }
    }

    &_block_three {
        @include media(991) {
            order: 3;
        }
    }

    &_block_four {
        @include media(991) {
            order: 4;
        }
    }

    &_block_five {
        @include media(991) {
            order: 5;
        }
    }

    @media (max-width: 991px) {
        .footer_link {
            display: none;
        }

        .footer_link.active {
            display: block;
            height: auto;
        }

        .footer_block_title svg {
            display: flex;
        }
    }

    @media (min-width: 992px) {
        .footer_link {
            display: block;
            height: auto;
        }

        .footer_block_title svg {
            display: none;
        }
    }

    &_bottom {
        padding: 52px 0;

        span {
            font-size: 16px;
            font-weight: 300;
            line-height: 21.86px;
            color: $color-white;

            @include media(991) {
                font-size: 14px;
                line-height: 22.4px;
            }
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    .row {
        @include media(991) {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }

    &_social {
        gap: 20px;
        justify-content: end;

        @include media(991) {
            justify-content: start;
        }
    }
}
// footer


