// @font-face {
//     font-family: "Stapel";
//     src: url("../fonts/Stapel-Medium.ttf") format('ttf');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Stapel";
//     src: url("../fonts/Stapel-Light.ttf") format('ttf');
//     font-weight: 300;
//     font-style: normal;
// }

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

// fonts
$font-manrope: "Manrope", sans-serif;
$font-stapel: "Stapel", sans-serif;
// fonts

// colors
$color-main-blue: #003064;
$color-white: #FFFFFF;
$color-black: #222222;
$color-grey: #999999;
$color-dark-grey: #555555;
$color-bg-grey: #F4F4F4;

// colors

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-manrope;
    font-style: normal;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main {
    &_container {
        max-width: 1360px;
        margin: 0 auto;

        @include media(1400) {
            max-width: calc(100% - 30px);
        }
    }

    &_title {
        font-family: $font-stapel;
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        color: $color-black;
        margin-bottom: 80px;

        @include media(991) {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 40px;
        }
    }
}

.btn {
    &_white {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.05em;
        @include flex-full-center();
        gap: 20px;
        border-radius: 5px;
        background-color: $color-white;
        padding: 20px;
        color: $color-main-blue;
    }
    &_blue {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.05em;
        @include flex-full-center();
        gap: 20px;
        border-radius: 5px;
        background-color: $color-main-blue;
        color: $color-white;
        padding: 20px;
    }
}

.breadcrumb_block {
    padding: 40px 0 60px;
    @include flex-center();
    gap: 15px;

    @include media(991) {
        gap: 5px;
        padding: 20px 0 40px;
    }

    a,
    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $color-grey;

        @include media(991) {
            font-size: 10px;
            line-height: 20px;
        }
    }
}

// bootstrap
ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
address {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
// bootstrap

// header
.header {

    .main_container {
        @include flex-center();
        justify-content: space-between;
        gap: 10px;
    }

    &_top {
        padding: 25px 0;

        @include media(1250) {
            padding: 10px 0;
        }
    }

    &_bottom {
        background-color: $color-main-blue;

        @include media(1250) {
            display: none;
        }

        ul {
            display: flex;
            align-items: stretch;
        }

        li {
            border-right: .5px solid $color-grey;

            &:last-child {
                border-right: none;
            }
        }

        a,
        button {
            text-align: center;
            @include flex-full-center();
            gap: 10px;
            font-size: 16px;
            font-weight: 700;
            line-height: 25.6px;
            color: $color-white;
            min-width: 135px;
            padding: 21px 25px;

            @include media(1380) {
                padding: 21px 12px;
            }
        }
    }

    &_logo {
        padding-right: 16px;
        border-right: .2px solid $color-grey;

        @include media(1250) {
            padding-right: 0;
            border-right: none;
            width: 103px;
            height: 38px;
        }
    }

    &_location {
        @include flex-center();
        gap: 30px;

        @include media(1250) {
            display: none;
        }

        li {
            @include flex-center();
            gap: 10px;
            font-size: 16px;
            font-weight: 600;
            line-height: 25.6px;
            color: $color-black;
        }
    }

    &_contact {

        @include media(1250) {
            display: none;
        }

        li {
            @include flex-center();
            gap: 8px;
        }

        a {
            @include flex-center();
            gap: 8px;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: $color-black;
        }

        span {
            font-size: 12px;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: 0.05em;
            color: $color-grey;
        }
    }

    &_burger {
        display: none;

        @include media(1250) {
            display: block;
        }
    }
}
// header

// header_menu
.header_menu_bg {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    @include transition();

    .header_menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $color-white;
        width: 85%;
        height: 100vh;
        overflow-y: scroll;

        &_head {
            padding: 10px 0;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

            .main_container {
                @include flex-center();
                justify-content: space-between;
            }
        }

        &_close {
            width: 30px;
            height: 30px;
        }

        &_link {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 40px;
            border-bottom: .5px solid $color-grey;

            a {
                @include flex-center();
                justify-content: space-between;
                padding: 10px;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
                color: $color-black;
                border-radius: 5px;
            }

            .catalog_btn {
                font-weight: 600;
                background-color: $color-bg-grey;
            }
        }

        &_link.active {
            display: none;
        }

        &_contact {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 19.2px;
                color: $color-grey;
            }

            a,
            address {
                font-size: 14px;
                font-weight: 500;
                line-height: 22.4px;
                color: $color-black;
            }

            .phone,
            .email {
                display: flex;
                flex-direction: column;
            }
        }

        &_block {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &_social {
            margin: 40px 0;
            display: flex;
            gap: 20px;

            a {
                width: 40px;
                height: 40px;
            }
        }
    }

    .header_menu {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    .catalog_in {
        margin-top: 70px;
        display: none;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 40px;
        border-bottom: .5px solid $color-grey;

        .title_block {
            width: 100%;
            @include flex-center();
            gap: 10px;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            color: $color-black;
        }

        .title_block.active {
            background-color: $color-bg-grey;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            color: $color-black;
            margin-bottom: 10px;
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &_block {
            padding: 10px;
        }

        a {
            padding: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            color: $color-black;
        }

        .catalog_close {
            font-size: 16px;
            font-weight: 600;
            line-height: 22.4px;
            color: $color-black;
            padding: 15px 10px;
            @include flex-center();
            gap: 20px;
        }
    }

    .catalog_in.active {
        display: flex;
    }
}

.header_menu_bg.active {
    left: 0;
}
// header_menu

// home
.home {
    .home_Swiper {
        @include flex-center();
        justify-content: space-between;
        gap: 98px;

        .swiper-slide {
            position: relative;
            padding: 160px 0;
        }

        .slider_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }
    }

    h1 {
        font-family: $font-stapel;
        font-size: 50px;
        font-weight: 400;
        line-height: 70px;
        color: $color-white;
        max-width: 652px;
        text-transform: uppercase;
    }

    p {
        max-width: 652px;
        margin: 40px 0 60px;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        color: $color-white;
    }

    &_content {
        padding-left: 118px;
    }

    .home_slider_btn {
        position: absolute;
        z-index: 2;
    }

    .home-button-prev {
        left: 5%;
    }

    .home-button-next {
        right: 5%;
    }
}
// home

// save_technology
.save_technology {

    &_top {
        margin-bottom: 100px;

        @include media(767) {
            gap: 20px;
            margin-bottom: 40px;
        }

        img {
            @include media(767) {
                width: 100%;
                height: 450px;
                object-fit: cover;
            }
        }

        .img_two {
            @include media(767) {
                width: 100%;
            }

            @include media(480) {
                object-position: 80%;
            }
        }
    }

    &_text {
        margin-bottom: 100px;

        h3 {
            font-family: $font-stapel;
            font-size: 40px;
            font-weight: 400;
            line-height: 56px;
            color: $color-black;

            @include media(767) {
                font-size: 25px;
                line-height: 35px;
            }
        }

        h6 {
            font-family: $font-stapel;
            font-size: 25px;
            font-weight: 400;
            line-height: 35px;
            color: $color-black;

            @include media(767) {
                font-size: 16px;
                line-height: 22.4px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            color: $color-dark-grey;
        }

        @include media(767) {
            margin-bottom: 40px;
            gap: 30px;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include media(767) {
                gap: 15px;
            }
        }
    }

    .bottom_text {
        @include media(767) {
            margin-bottom: 80px;
        }
    }

    &_imgs {
        margin-bottom: 100px;

        @include media(767) {
            gap: 20px;
            margin-bottom: 40px;
        }

        img {
            height: 330px;
            width: 100%;
            object-fit: cover;
        }
    }

    &_bottom {
        display: flex;
        flex-direction: column;

        .bottom_text {
            order: 2;
        }

        .save_technology_imgs {
            order: 1;
        }
    }
}
// save_technology

// footer
.footer {
    background-color: $color-main-blue;

    &_top {
        border-bottom: 1px solid $color-white;
        padding: 100px 0 60px;

        @include media(991) {
            padding: 60px 0;
        }

        .main_container {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @include media(991) {
                gap: 20px;
            }

            @include media(991) {
                flex-direction: column;
            }
        }
    }

    h6 {
        width: 100%;
        @include flex-center();
        justify-content: space-between;
        font-family: $font-stapel;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        color: $color-white;

        svg {
            display: none;

            @include media(991) {
                display: flex;
            }
        }

        @include media(991) {
            font-size: 18px;
            line-height: 25.2px;
        }
    }

    &_link {
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease, opacity 0.3s ease;

        @include media(991) {
            overflow: hidden;
            height: 0;
            @include transition();
        }
    }

    &_link.active {
        @include media(991) {
            overflow: hidden;
            height:max-content;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 40px;
        @include transition();

        @include media(991) {
            padding: 20px 0;
        }

        a,
        address {
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            color: $color-white;

            @include media(991) {
                font-size: 14px;
                line-height: 22.4px;
            }
        }
    }

    &_block_title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        svg {
            transition: transform 0.3s ease;
        }
    }

    .contact_in {
        padding: 20px 0 0 0;
    }

    &_block_one {
        @include media(991) {
            order: 1;
        }
    }

    &_block_two {
        @include media(991) {
            order: 2;
        }
    }

    &_block_three {
        @include media(991) {
            order: 3;
        }
    }

    &_block_four {
        @include media(991) {
            order: 4;
        }
    }

    &_block_five {
        @include media(991) {
            order: 5;
        }
    }

    @media (max-width: 991px) {
        .footer_link {
            display: none;
        }

        .footer_link.active {
            display: block;
            height: auto;
        }

        .footer_block_title svg {
            display: flex;
        }
    }

    @media (min-width: 992px) {
        .footer_link {
            display: block;
            height: auto;
        }

        .footer_block_title svg {
            display: none;
        }
    }

    &_bottom {
        padding: 52px 0;

        span {
            font-size: 16px;
            font-weight: 300;
            line-height: 21.86px;
            color: $color-white;

            @include media(991) {
                font-size: 14px;
                line-height: 22.4px;
            }
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    .row {
        @include media(991) {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }

    &_social {
        gap: 20px;
        justify-content: end;

        @include media(991) {
            justify-content: start;
        }
    }
}
// footer


